<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=io.cucumber"/>
        <listEntry value="archetypeArtifactId=cucumber-archetype"/>
        <listEntry value="archetypeVersion=7.21.1"/>
        <listEntry value="groupId=capstonProject_SA2411063"/>
        <listEntry value="artifactId=capston"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=capstonProject_SA2411063.capston"/>
        <listEntry value="outputDirectory=/Volumes/Renuka/Training_Materials/SA2411063_CapstoneProjects"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/rl/ytnk6vbs63s76j7737gxs7v00000gn/T/m2e-archetypeGenerator10687267999443162110"/>
</launchConfiguration>
